* {
  background-color: white;
  color: black;
  font-family: "Courier New", monospace;
}
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  grid-template-rows: 1fr auto;
  display: grid;
  min-width: 100%;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "second-content"
    "footer";
}
.header {
  grid-area: header;
}
.header img {
  float: left;
  width: 50px;
  height: 50px;
}
.main-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}
#picture-content {
  margin: auto;
}
#picture-content img {
  border: blue 2px solid;
  padding: 10px;
}
.nav {
  grid-area: nav;
}
nav ul li a {
  text-decoration: none;
  border: green 1px dotted;
}
nav ul li a:hover {
  text-decoration: underline;
}
.second-content {
  grid-area: second-content;
  display: flex;
  flex-direction: column;
}
#image-div {
  width: 300px;
  height: 300px;
  background-image: url("https://picsum.photos/300");
  background-repeat: no-repeat, no-repeat;
}
.footer {
  grid-area: footer;
  background-color: green;
}
.script-container {
  border: black solid 2px;
  margin: 5px;
  padding: 3px;
}
/* Random Button CSS copied from web */
.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "content content"
      "second-content second-content"
      "footer footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
